trunk/xml-matchers/src/test/resources/org/xmlmatchers/validation/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:example="http://www.xmlmatchers.org/example">

	<xsd:element name="person">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" />
			</xsd:sequence>
			<xsd:attribute name="private" type="boolean" />
		</xsd:complexType>
	</xsd:element>
</schema>